<!DOCTYPE html>
{% extends 'dashboard.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Products Table</h4>
<!--                    <p class="card-description"> Add class <code>.table-striped</code>-->
<!--                    </p>-->
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th> Product Name </th>
                            <th> Category Name </th>
                            <th> Description </th>
                            <th> Price </th>
                            <th> Image </th>
                            <th> Options </th>
                          </tr>
                        </thead>
                        <tbody>
{% for p in prod %}
                        <tr>
                            <td>{{p.ProductName}}</td>
                            <td>{{p.Category_Name}}</td>
                            <td>{{p.Description}}</td>
                            <td>{{p.Price}}</td>
                            <td><img src="{{p.ProductImage.url}}"></td>
                            <td>
                                <a class="btn btn-primary" href="{% url 'edit_products' p_id=p.id %}">Edit</a>
                                <a class="btn btn-danger" href="{% url 'delete_products' p_id=p.id %}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
    {% for msg in messages %}
        {% if msg.tags == "success" %}
            <script>
                swal('{{msg}}','','success')
            </script>
        {% elif msg.tags == "warning" %}
            <script>
                swal('{{msg}}','','warning')
            </script>
        {% elif msg.tags == "error" %}
            <script>
                swal('{{msg}},'','error')
            </script>
        {% elif msg.tags == "info" %}
            <script>
                swal('{{msg}},'','info')
            </script>

        {% endif %}
    {% endfor %}
{% endif %}






</body>
</html>
{% endblock %}